<div class="container">
    <form (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Name">
  
      <label for="mail">Email</label>
      <input type="text" id="mail" name="name" placeholder="E-Mail">

      <label for="gender">Gender</label>
      <select id="gender" name="gender">
        <option value="australia">Male</option>
        <option value="canada">Female</option>
        <option value="usa">Diverse</option>
      </select>
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Your message" style="height:200px"></textarea>
  
      <input type="submit" value="Send Mail">
    </form>
  </div> 