<div class="container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <label for="name">Name</label>
      <input [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Name" required="">
  
      <label for="mail">Email</label>
      <input [(ngModel)]="contactData.mail" type="text" id="mail" name="mail" placeholder="E-Mail" required="" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

      <label for="subject">Subject</label>
      <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="subject" name="subject" placeholder="Your message" style="height:200px" required=""></textarea>
      @if(!message.valid && message.touched) {
        <span class="error-msg">please enter a message</span>
      }

      <input type="submit" value="Send Mail">
    </form>
  </div> 